@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear-gradient(to right,hsl(37, 97%, 70%),hsl(329, 70%, 58%));
    --youTube: hsl(348, 97%, 39%);
    --toggle: linear-gradient(to right,hsl(210, 78%, 56%),hsl(146, 68%, 55%));
    --light-theme:hsl(230, 22%, 74%);
    --white: hsl(0, 0%, 100%);
    --light-top-bg-pattern: hsl(225, 100%, 98%);
    --light-card-bg: hsl(227, 47%, 96%);
    --light-card-bg-1: hsla(228, 61%, 90%, 0.85);
    --light-card-bg-2: hsla(219, 62%, 85%, 0.365);
    --light-text-color-1: hsl(228, 12%, 44%);
    --light-text-color-2: hsl(230, 17%, 14%);
    --dark-bg: hsl(230, 17%, 14%);
    --dark-top-bg-patttern: hsl(232, 19%, 15%);
    --dark-card-bg: hsl(228, 28%, 20%);
    --dark-text-color-1: hsl(228, 34%, 66%);
    --dark-text-color-2: hsl(0, 0%, 100%);
   
}
body{
    font-family: 'Inter', sans-serif;
    color:var(--dark-bg);
}
main,
header .flex-between,footer{
    max-width:1200px;
    margin-inline: auto;
    padding:2rem 1rem;
}
a{
    text-decoration: none;
    color:inherit
}
header{
    background-color: var(--light-top-bg-pattern);
    padding-bottom: 8rem;
}
main{
    position: relative;
    transform: translateY(-130px);
}
/* toggle */
.toggle-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle{
    visibility: hidden;
    width: 0;
}
.toggleLabel{
    background-color:var(--light-text-color-1);
    border-radius: 50px;
    width: 3.3rem;
    height: 1.8rem;
    cursor: pointer;
    margin:0 15px 0;
    display: inline-block;
    position: relative;
}
.ball{
    position: absolute;
    width:20px;
    height:20px;
    background-color: var(--white);
    border-radius: 50%;
    top: 3.9px;
    left: 4.7px;
    animation: slideOff 0.3s linear forwards;
}
.toggle:checked + .toggleLabel .ball{
    animation:slideOn 0.3s linear forwards;
}

h1{
    font-size: 1.8rem;
    line-height: 1.6;
}
.left-heading p{
    font-size: 0.95rem;
    font-weight: 700;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    gap:1rem;
    align-items: center;
}
.flex-col{
    display: flex;
    flex-direction: column;
    gap:4rem;
}

.social-account{
    padding:2rem;
    text-align: center;
    max-width: 250px;
    flex-basis: 50%;
    background-color: var(--light-card-bg);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: background 500ms ease-in-out;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.stat.flex-between,
.social.flex-between{
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.social.flex-between{
    gap:2.5rem;

}
.social-account::before{
    content:'';
    position: absolute;
    width:100%;
    height:7px;
    left:0;
    top:0;
    border-radius: 8px 8px 0 0;
}
.facebook::before{
    background-color: var(--facebook);
}
.twitter::before{
    background-color: var(--twitter);
}
.instagram::before{
    background-image: var(--instagram);
}
.youtube::before{
    background-color: var(--youTube);
}
.social-account:hover,
.stat:hover{
    background-color: var(--light-card-bg-1);
}
.social-account-name{
    display: flex;
    gap:0.5rem;
    align-items: center;
    justify-content: center;
}
.followers-no{
    font-size: 3rem;
    margin:1.2rem 0 0.3rem;
}
.followers-no + p{
    text-transform:uppercase;
    letter-spacing: 1.6px;
    font-size: 0.86rem;
    color:var(--light-text-color-1);
    opacity:0.8;
}
.today-stats{
    font-size: 0.85rem;
    margin-top:1rem;
    font-weight: 700;
    color:var(--lime-green);
}
.overview h2{
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.stats-container.flex-between{
    flex-wrap:wrap;
    gap:2.5rem;
}
.stat{
    padding:2rem 1.4rem;
    max-width: 250px;
    flex-basis: 50%;
    background-color: var(--light-card-bg);
    border-radius: 9px;
    cursor: pointer;
    transition: background 500ms ease-in-out ;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.stat-content{
    margin-top:1rem;
}
.stat-content h3{
    font-size: 1.7rem;
}
.stat-content span.flex-between{
    gap:0.4rem;
}
.stat-content span{
    font-weight: 700;
    font-size: 0.75rem;
}
.decrease{
    color:var(--bright-red);
}
.increase{
    color:var(--lime-green);
}
footer{
    margin-top: -10rem;
}
/* dark mode */
body.dark{
    background-color: var(--dark-bg);
    color:var(--white);
    transition: background 500ms ease-in-out;
}
body.dark header {
    background-color: var(--dark-top-bg-patttern);
}
body.dark header p {
    color: var( --dark-text-color-1);
}
body.dark header .ball{
    background-color: var(--dark-bg);
}
body.dark header .toggleLabel{
    background-image: var(--toggle);
}
body.dark main .social-account,
body.dark main .stat{
    box-shadow:rgba(254, 222, 222, 0.3) 0px 1px 2px 0px, rgba(154, 217, 249, 0.15) 0px 2px 6px 2px; 
}
body.dark main .social-account,
body.dark main .stat
{
    background-color: var(--dark-card-bg);
}
body.dark main .social-account:hover,
body.dark main .stat:hover{
background-color: var( --light-card-bg-2);
}
body.dark main .social-account .followers-no + p{
    color:var(--dark-text-color-1);
}
/* media query */
@media(max-width:600px){
    .social.flex-between,
    .stats-container.flex-between{
        flex-direction: column;
        align-items:stretch;
    }
    .stat,.social-account{
        max-width:500px;
        flex-basis: 40%;
    }
    header .flex-between{
        flex-direction: column;
        align-items: flex-start;
    }
    header .toggle-button{
        border-top: 1px solid var(--light-text-color-1);
        padding-top: 1rem;
    }
    .toggle-button {
     width: 100%;
    }
}
@keyframes slideOn {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(24px);
    }
  }
  
@keyframes slideOff {
    0% {
      transform: translateX(24px);
    }
    50% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(0);
    }
}